{% extends "layout.html" %}

{% block meta %}
{% endblock %}

{% block css %}
		<link rel="stylesheet" href="/static/css/zabo_calendar.css">
{% endblock %}

{% block title %}ZABO Calendar{% endblock %}

{% block content %}
    <div id="calendar_container">
        <table id="calendar">
            <thead>
                <tr>
                    <th id="prev_month">&lt;</th>
                    <th colspan="5">
                        <span id="year"></span>
                        <span id="month"></span>
                    </th>
                    <th id="next_month">&gt;</th>
                </tr>
                <tr>
                    <td>월</td>
                    <td>화</td>
                    <td>수</td>
                    <td>목</td>
                    <td>금</td>
                    <td class="saturday">토</td>
                    <td class="sunday">일</td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
{% endblock %}

{% block aftercontent %}
    <script src="{{ STATIC_URL }}js/zabo_calendar.js"></script>
{% endblock %}